@tailwind base;
@tailwind components;
@tailwind utilities;


@font-face {
  font-family: 'JansinaRegular';
  src: url('../font/jansina.regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

html,
body {
  overflow-x: hidden;
}

.expr{
  color: #5e5e5e;
  font-family: "JansinaRegular";
}
.expr-post-page{
  font-size: 60px;
}


@keyframes slideInRight {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(0);
  }
}

.animate-slideInRight {
  animation: slideInRight 0.5s ease-in-out;
}
